# Don't track content of these folders
data/
model/
logs/
__pycache__/
util/__pycache__/
result/

3d/__pycache__/
3d/logs/
3d/data/
3d/model/
3d/result/

# fiels
checkpoint
try.py
3d/try*

# file type
*.ipynb
*.txt

# Compiled source #
###################
*.pyc

# Packages #
############
3d/log.txt
